

:root{
  --primary: #ff69b4ff;
  --info: #ff85c1ff;
  --ligth: #d291bcff;
  --grey: #efb2d7ff;
  --dark: #000000; 
  --secondary: #ffffff;
}

.hero {
  background-image: url('url_de_fondo');
  background-size: cover;
  color: white;
}
