
/* PALETA DE COLORES DE LA PAGINA MODIFICADA */
:root{
  --primary: #ff69b4ff;
  --info: #ff85c1ff;
  --ligth: #d291bcff;
  --grey: #efb2d7ff;
  --dark: #000000; 
  --secondary: #ffffff;
  --success: #ffc1cc;
}

/* VARIABLES DE LOS COLORES DE LA PAGINA */
.bg-primary {
  background-color: var(--primary);
}
.bg-info {
  background-color: var(--info);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-ligth {
  background-color: var(--ligth);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-success {
  background-color: var(--success);
}


/* TAMAÑO DE LAS IMAGENES DEL CARRUSEL */
.carousel-inner img {
  max-height: 400px;
  max-width: 500px; 
}

/*CENTRADO DEL CARRUSEL CON LA PANTALLA MAS PEQUEÑA*/
@media (max-width: 450px) {
  .carousel {
      margin: 0 auto;
  }
}



/* TAMAÑOS DE PANTALLA (RESPONSI) */
@media (min-width: 768px) {
  .container-fluid {
      max-width: 720px; 
  }
}
@media (min-width: 992px) {
  .container-fluid {
      max-width: 960px; 
  }
}
@media (min-width: 1200px) {
  .container-fluid {
      max-width: 1140px; 
  }

.contenido-carrusel {
    max-width: 450px; 
    margin: 0 auto;
    padding: 0 15px;
  }
}


